/*  
Theme Name: Discover
Description: The green and blue theme on the old meditation sites
Template: vs-simplicity
*/

@import url("../vs-simplicity/css/common.css");

/*-------------------------------------------------------------------------------------------*/
/* LAYOUTS AND WIDTHS */
/*-------------------------------------------------------------------------------------------*/

#wrapper { max-width:840px; width: 100%; margin: 0 auto; }

#site-title { max-width: 100%; }

.entry { width: 86.3%; }

#footer-widgets .block { width: 29%; padding: 0 2%; }

#right-header-elements { position: absolute; top: 0; right: 0; z-index: 10; max-width: 300px; height: 100%; }

#sidebar { width: 27.5%; }

#content { margin: 0 6%;}

#content.narrowcolumn { width: 55.5%; }
#content.widecolumn { width: 88%; }

#footer { width: 100%; max-width: 760px; margin: 0 auto;  }
#supplementary-inside { margin-top: 30px;  }

/*-------------------------------------------------------------------------------------------*/
/* 1. SETUP */
/*-------------------------------------------------------------------------------------------*/

/* 1.1 Defaults */

body  { font-family: "Lucida Grande", Tahoma, Verdana, sans-serif; color: #fff; background: url("images/body-bg.jpg") repeat-x scroll center top #009345; font-size: 13px; font-size: 1.3rem; } 

#content { font-size: 14px !important; line-height: 1.6em; } 
#content p { margin-bottom: 1.5em; } 

#content h1 {
	margin: 20px 0 5px 0;
	padding: 0;
	font-size: 1.8em;
	font-weight: normal;
	color:  #F9EC31 !important;
	padding-bottom: 5px;
	border-bottom: dotted 1px #8BC53F;
	}
	
#content h1 a { color:  #F9EC31 !important; border-bottom: none; }
#content h1 a.post-edit-link { font-size: .7em; border-bottom: none; }

#content h2 {
	margin: 20px 0 4px 0;
	padding: 0;
	font-size: 1.4em;
	font-weight: normal;
	color: #faa61a !important;
	border-bottom: none;
	text-decoration: none;
}

#content h2 a { }

#content h3, h4, h5, h6 {
	margin: 25px 0 5px 0;
	padding: 0;
	font-size: 1.3em;
	color: #faa61a;
	font-weight: bold;
	line-height: 1.1em;
	text-decoration: none;
	}
	
#content h3 a, #content h4 a, #content h5 a, #content h5 a {}	
#content h3 a, #content h4 a, #content h5 a, #content h5 a{color:#F9EC31;}
#content blockquote { color: #ffc; border-left: none; }

#content img, img.thumbnail { background: none; border: none; padding: 0; }

h1 a:link, h1 a:visited, h2 a:link, h2 a:visited, h3 a:link, h3 a:visited,
h4 a:link, h4 a:visited, h5 a:link, h5 a:visited, h6 a:link, h6 a:visited  { text-decoration: none; }
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover  {text-decoration: underline;}

hr { background-color: #e6e6e6;	border:0; height: 1px; margin-bottom: 20px; }

input, textarea { padding: 5px; border-color: #ccc #efefef #efefef #ccc; border-width:1px; border-style:solid; margin-bottom:10px;}

/* 1.2 Hyperlinks */
a, a:link, a:visited  {color: #F9EC31 !important; text-decoration: none; border-bottom: dotted 1px #8BC53F; }
img a, img a:link, img a:visited  { border-bottom: none; }
a:hover {color:#009193;}
#site-title a { border-bottom: none; }



/*-------------------------------------------------------------------------------------------*/
/* 2. SITE STRUCTURE & APPEARANCE */
/*-------------------------------------------------------------------------------------------*/

/* 2.1 Containers & Columns */
#header { position: relative; }

/* 2.2 Navigation */
#primary-navigation{height:2.7em;
  	line-height:2.7em;
  	white-space: nowrap;
  	text-align:  center;
  	position: absolute;
  	top: 228px;
  	left: 7%;
  	max-width: 720px;
  	width: 86%;
  	font-size: .95em;
}

#secondary-navigation{font-size:12px; display: inline-block; width: auto; max-height: 20px; overflow: hidden; float: right;}

.menu { z-index:99; margin:0; padding:0; list-style:none; line-height:1; margin-left: 0; }
#primary-navigation .menu a  { display:block;
  	padding: 16px 15px;
  	margin: 0;
  	font-size:1.1em;
  	font-weight: bold;
  	text-transform:capitalize;
  	letter-spacing:1px;
  	text-decoration: none; 
  	border-bottom: none;
  	color:#D6DE23; }
.menu a { padding: 0;  }  	
.menu li a:hover, .menu li.current_page_item a, .menu li.current_page_parent a, .menu li.current-menu-ancestor a, .menu li.current-menu-item a, .menu li.current_page_item li a, .menu li.current_page_parent li a, .menu li.current-menu-ancestor li a, .menu li.current-menu-item li a, .menu li.sfHover a { color: #faa61a; }
.menu li li.current_page_item { background:none; }
.menu li  { float:left; width: auto; }
.menu li a.sf-with-ul { padding-right:20px; }
.menu li ul li a  { text-shadow:0 1px 0 #45c755; behavior: url(/wp-content/themes/vs-simplicity/PIE/PIE.php); }
.menu li ul li a { padding: 10px 10px;}
.menu a, .menu li.current_page_item, .menu li.current_page_parent, .menu li.current-menu-ancestor, .menu li.current-menu-item, .menu li.sfHover, .menu li.selected {}

#primary-navigation .menu li.menu-item-language-current { float: right; }
#primary-navigation .menu li.menu-item-language-current a { padding-right: 0; }
#primary-navigation .menu .submenu-languages li.menu-item-language-current { float: left; width: 110px; }
#primary-navigation .menu .submenu-languages li.menu-item-language-current a:hover { width: 90px; } 
#primary-navigation .menu .submenu-languages {  width: 100px;}

#secondary-navigation .menu a { }
#secondary-navigation .menu li a:hover, #secondary-navigation .menu li.current-menu-item a,  #secondary-navigation .menu li.current_page_item a { background: none; color: #111; }
#secondary-navigation .menu li.menu-item-language-current a { margin-left: 15px;  }

/* 2.2.1 wpml language switcher in menu */
#primary-navigation .menu .submenu-languages li.menu-item-language-current { float: left; width: 100px; }
#primary-navigation .menu .submenu-languages li.menu-item-language-current a:hover { width: 70px; } 
#secondary-navigation .menu .submenu-languages { margin-left: 15px;  width: 100px;}
#secondary-navigation .menu .submenu-languages li.menu-item-language-current a { width: 84px; margin-left: 0; padding: 3px 8px; }

#footer .menu li { width: 100%; margin-bottom: 7px; }
#footer .menu a {  }
#footer .menu li a:hover, #footer .menu li.current-menu-item li a,  #footer .menu li.current_page_item li a{ background: none; color: #111; }

/* 2.2.2 Drop-down menus */
.menu li ul  { position: absolute; left: -999em; border: 1px solid #3fb34e; border-width: 0 1px 1px 1px; z-index:999; background:#37a044; border-radius: 0 0 5px 5px; width: 180px; text-align: left; behavior: url(/wp-content/themes/vs-simplicity/PIE/PIE.php); }
.menu li ul li  { background:transparent; width: 180px; }
.menu li ul li a  { font-size:0.85em !important; line-height: .85em; }
.menu li ul li a.sf-with-ul { padding:5px 10px; }
.menu li ul li a:hover, .menu li.sfHover ul li a.sf-with-ul { color:#fff;}
.menu li ul ul  { margin: -30px 0 0 180px; }
.menu li ul ul li a  {  }
.menu li ul li ul li a  {  }
	
.menu li:hover,.menu li.hover  { position:static; }
.menu li:hover ul ul, .menu li.sfhover ul ul,
.menu li:hover ul ul ul, .menu li.sfhover ul ul ul,
.menu li:hover ul ul ul ul, .menu li.sfhover ul ul ul ul { left:-999em; }
.menu li:hover ul, .menu li.sfhover ul,
.menu li li:hover ul, .menu li li.sfhover ul,
.menu li li li:hover ul, .menu li li li.sfhover ul,
.menu li li li li:hover ul, .menu li li li li.sfhover ul  { left:auto; }	

/* 2.3 Header */
#header{padding: 0;clear:both;}
#banner { height: auto; position:relative; }
#search-form { display: none; position: absolute; right: 0; bottom: 0; } 

#search-form input {
    background: url("images/search-icon.png") no-repeat scroll 98% center #fff;
    border: 1px solid #DEDEDE;
    border-radius: 4px;
    color: #787878;
    padding: 5px 30px 5px 5px;
    width: 190px;
    behavior: url(/wp-content/themes/vs-simplicity/PIE/PIE.php);
}

#language-switcher { text-align: right; }  
#lang_sel { height: auto; }
#lang_sel a.lang_sel_sel { border: none; }
#site-title { display: block; float: left; }

/* 2.3.1 Slideshow */

#wpss_slideshow_front-page, .wpss_slideshow_, .wpss_slide { height: 300px !important; }

#wpss_slideshow_front-page { 
  margin: 10px 5% 5px 5% !important; 
  padding: 15px 2% !important; 
  border-radius: 10px; 
  width: 86% !important; 
  border-bottom: none !important; 
  box-shadow: 1px 1px 1px #158022; 
  background: #37a044 !important;
  background: -moz-linear-gradient(top,  #37a044 0%, #318e41 100%) !important;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#37a044), color-stop(100%,#318e41)) !important;
  background: -webkit-linear-gradient(top,  #37a044 0%,#318e41 100%) !important;
  background: -o-linear-gradient(top,  #37a044 0%,#318e41 100%) !important;
  background: -ms-linear-gradient(top,  #37a044 0%,#318e41 100%) !important;
  background: linear-gradient(to bottom,  #37a044 0%,#318e41 100%) !important;
  -pie-background: linear-gradient(#37a044 0%,#318e41 100%) !important;
  behavior: url(/wp-content/themes/vs-simplicity/PIE/PIE.php);
}

#wpss_slideshow_front-page .wpss_content_half  { width: 30% !important; margin-top: 30px !important; font-size: .95em;  }
#wpss_slideshow_front-page a, a.wpss_pause_front-page, a.wpss_resume_front-page { border-bottom: none !important; }   
#wpss_slideshow_front-page .wpss_img_half { width: 65% !important; height: auto; border-color: #036000; } 
#wpss_slideshow_front-page .wpss_img_half img { width: 100%; height: auto; border: none; box-shadow: 1px 1px 1px #158022; padding: 0; }
#wpss_slideshow_front-page h2 { font-size: 1.3em; line-height: 1.15em; font-weight: normal; margin-bottom: 10px; color: #faa61a; margin-bottom: 13px !important; }
#wpss_next_front-page{ top: 19px !important; right: 19px !important; }
#wpss_prev_front-page{ top: 19px !important; left: 19px !important; }
#wpss_slideshow_pager_front-page { left: 18px !important; top: 310px !important; }
#wpss_slideshow_pager_front-page a { background-color: #036000 !important; border: 1px #036000 solid; }
.wpss_pause_front-page { float: right; margin: -39px 150px 0 0; font-size: .9em; }
.wpss_resume_front-page { float: right; margin: -39px 95px 0 0; font-size: .9em; }
.wpss_content_half_right { text-align: right; }

.edit-slide-link { position: absolute; top: 4px; left: 30px; background-color: #158022; padding: 3px; height: 24px; z-index: 1000; }

.slider-read-more { background: #158022;  }  

/* 2.3.2 Front page featured widgets */

#front-featured { width: 88%; max-width: 760px; margin: 20px 6%; font-size: .95em; }
#front-featured h3 { font-weight: normal; font-size: 1.2em; margin-bottom: 3px;  }

#front-featured .widget-area {
  float: left;
  margin-right: 3.7%;
  padding: 20px 2%;
  width: 26.8%;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #158022; 
  background: #37a044;
  background: -moz-linear-gradient(top,  #37a044 0%, #318e41 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#37a044), color-stop(100%,#318e41));
  background: -webkit-linear-gradient(top,  #37a044 0%,#318e41 100%);
  background: -o-linear-gradient(top,  #37a044 0%,#318e41 100%);
  background: -ms-linear-gradient(top,  #37a044 0%,#318e41 100%);
  background: linear-gradient(to bottom,  #37a044 0%,#318e41 100%);
  -pie-background: linear-gradient(#37a044 0%,#318e41 100%) !important;
  behavior: url(/wp-content/themes/vs-simplicity/PIE/PIE.php);
}

#front-featured #third {
	margin-right: 0;
}

    
/* 2.4 Content */
#breadcrumb {margin-bottom: 30px; font-size: .8em; }
#content{padding:0; position:relative;}
.entry-meta { color: #FEEA7F; }
.entry blockquote { color: #FFFFCC; border-left: none; }

/* 2.5 Sidebar */
#sidebar{overflow:hidden; margin-top: 40px; }
#sidebar .sidebar-widget { 
  margin-bottom: 10px; 
  border-radius: 10px; 
  padding: 20px; 
  box-shadow: 1px 1px 1px #158022; 
  background: #37a044;
  background: -moz-linear-gradient(top,  #37a044 0%, #318e41 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#37a044), color-stop(100%,#318e41));
  background: -webkit-linear-gradient(top,  #37a044 0%,#318e41 100%);
  background: -o-linear-gradient(top,  #37a044 0%,#318e41 100%);
  background: -ms-linear-gradient(top,  #37a044 0%,#318e41 100%);
  background: linear-gradient(to bottom,  #37a044 0%,#318e41 100%);
  -pie-background: linear-gradient(#37a044 0%,#318e41 100%) !important;
  behavior: url(/wp-content/themes/vs-simplicity/PIE/PIE.php); 
}
#sidebar h2 { font-size: 1.2em; text-transform: uppercase; line-height: 1.15em; font-weight: normal; margin-bottom: 10px; color: #faa61a; }
#sidebar h3 { font-size: 1.1em; line-height: 1.15em; font-weight: normal; margin-bottom: 10px; color: #faa61a; }
#sidebar ul ul ul { margin-left: 10px; }
#sidebar ul li { line-height: 1.15em; margin-bottom: 7px; }
#sidebar ul li.current_page_item { font-weight: bold; }
#sidebar ul.list-children { font-size: .9em; }



/* 2.6 Footer */
#footer{padding: 20px 0; color:#eee; }
#footer h2 {font-size: 1.2em; text-transform: uppercase; margin-bottom: 2px; color: #feea7f; }
#footer ul.menu li a { font-weight: normal;  }

#colophon {
	clear: both;
	margin-top: 10px;
	color: #fff;
}
#supplementary-inside {
  border-radius: 10px;
  padding: 1.625em 7.6%;
  overflow: hidden;
  box-shadow: 1px 1px 1px #158022; 
  background: #37a044;
  background: -moz-linear-gradient(top,  #37a044 0%, #318e41 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#37a044), color-stop(100%,#318e41));
  background: -webkit-linear-gradient(top,  #37a044 0%,#318e41 100%);
  background: -o-linear-gradient(top,  #37a044 0%,#318e41 100%);
  background: -ms-linear-gradient(top,  #37a044 0%,#318e41 100%);
  background: linear-gradient(to bottom,  #37a044 0%,#318e41 100%);
  -pie-background: linear-gradient(#37a044 0%,#318e41 100%) !important;
  behavior: url(/wp-content/themes/vs-simplicity/PIE/PIE.php);
  -pie-lazy-init:true;
}

#colophon-second ul.menu {
   float: right;
   display: inline-block;
   width: auto;   
}    

/* Footer Widget Areas */
#supplementary .widget-area {
	float: left;
	margin-right: 3.7%;
	width: 30.85%;
}
#supplementary .widget-area + .widget-area + .widget-area {
	margin-right: 0;
}

/* Admin menu */

#wpadminbar ul li ul li a { color: #777 !important; }

/*//////////////////////////////////////////////////////////////////// 
//  13 - Media Queries
////////////////////////////////////////////////////////////////////*/



@media only screen and (max-width: 840px)  {
    
    #primary-navigation .menu-header ul { display: none; }
    #primary-navigation .menu-header select {
        display: block;
        /* background: url('images/select-arrows.png') no-repeat scroll right center #FFF; */
        -moz-appearance: none; -webkit-appearance: none; appearance: none;
        padding: 3px 2%;
        font-size: 14px;
        float: left;
        border: 1px solid #dedede;
        -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
        width: 100%;
        margin: 0;
        position: relative;
        z-index: 100;
        behavior: url(/wp-content/themes/vs-simplicity/PIE/PIE.php);
    }
    #primary-navigation{ top: 150px; }
    
      #site-title { width: 100%; height: 188px; overflow: hidden; position: relative;  }
     #site-title img { position: absolute; top: -30px; left: -30px; width: 840px; max-width: 1000000% !important; } 
    
    h1.page-title, h1.entry-title { margin-top: 35px; }  
}    

@media only screen and (max-width: 705px)  {
    
 
    #footer-widgets .block,  {width: 100%; }
    #content, #content.narrowcolumn { 
          width: 88%; padding: 0 0 15px 0; margin-bottom: 15px; 
    }
    #sidebar, #footer { width: 88%; margin: 0 6%; }
    #front-featured-inside .widget-area { width: 90%; padding:  10px 5%; margin-bottom: 10px; } 
    
    #wpss_slideshow_front-page .wpss_content_half  { width: 29% !important; }
    #wpss_slideshow_front-page .wpss_img_half { margin-top: 40px !important; }
    
   
}  

@media only screen and (max-width: 480px)  {  
      #wpss_slideshow_front-page, .wpss_slideshow_, .wpss_slide { height: 400px !important; }
      #wpss_slideshow_pager_front-page { left: 18px !important; top: 415px !important; }
      #wpss_slideshow_front-page .wpss_img_half  { width: 100% !important; margin-top: 0 !important; }
      #wpss_slideshow_front-page .wpss_content_half  { width: 92% !important; margin: 0 2%; text-align: center; margin-top: 15px !important; } 
    
}  

@media only screen and (max-width: 360px)  {  
      #wpss_slideshow_front-page, .wpss_slideshow_, .wpss_slide { height: 360px !important; }
      #wpss_slideshow_pager_front-page { left: 18px !important; top: 375px !important; } 
}    




